In [24]:
# Using censusdata API:  https://pypi.org/project/CensusData/. 
# FIXED. messes up if u specify the county 
import pandas as pd
import censusdata
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)
import statsmodels.formula.api as sm

In [2]:
# 1) find a table of intrest: 
    # censusdata.search('acs1', 2018, 'concept', 'education')# searching for all variables that got this concept 
    # censusdata.search('acs1', 2018, 'label', 'unemploy')  # searching for all variables that got this label 
    # censusdata.printtable(censusdata.censustable('acs1', 2018, 'B15003')) # looking at all variables in this table

# 2) after identifying relevant variables, look at the geographic info. 
    # Get the STATE FIPS CODE and then the county FIPS code. 
        # state code: censusdata.geographies(censusdata.censusgeo([('state', '*')]), 'acs1', 2018) 
        # county code: censusdata.geographies(censusdata.censusgeo([('state', '36'), ('county', '*')]), 'acs1', 2018)
    # NY: 36
    # Counties: 
        # Kings    = 047
        # Queens   = 081
        # Bronx    = 005
        # Richmond = 085
        # Westchester = 119
# 3) EX: this is a pandas df
# someTable = censusdata.download
# (
#     'acs1', 2018,
#     censusdata.censusgeo(
#         [('state', '36'), ('county', '047')]              # the geoids. dont do block
#     ),
#     ['B23025_003E', 'B23025_005E', 'B15003_001E', 'B15003_002E', 'B15003_003E'] # variabes
# )
# someTable['percent_unemployed'] = someTable.B23025_005E / someTable.B23025_003E * 100 #new col using these vars
# someTable = someTable[['percent_unemployed', 'percent_nohs']]
# print(someTable)

In [22]:
# c = censusdata.download(
#     'acs5', 
#     2015, 
#     censusdata.censusgeo(
#         [('county', '*')]
#     ),
#     ['B01001_001E', 'B01001_020E']
# )
# print(c.describe())

# censusdata.search('acs1', 2018, 'label', 'age')

In [23]:
#Adding all the age columns
ageTableCols = censusdata.search('acs1', 2018, 'concept', 'age')
tableColDict = dict()
tableColCodeArray = []
for i in range(0,len(ageTableCols)):  
    tableColCode = str(ageTableCols[i]).split(", ")[0].strip("(").strip(")").strip("'")
    tableColSection = str(ageTableCols[i]).split(", ")[1].strip("(").strip(")").strip("'")
    tableColVar = str(ageTableCols[i]).split(", ")[2].strip("(").strip(")").strip("'")
    tableColDict.update( {tableColCode: [tableColSection,tableColVar]} )
    tableColCodeArray.append(tableColCode)
count = 0
for key in tableColDict:
    print(str(count)+  "..."+ key + "..." + tableColDict[key][0] +  "..." + tableColDict[key][1])
    count = count + 1
    if count == 101:
        break

0...B01001A_001E...SEX BY AGE (WHITE ALONE)...Estimate!!Total
1...B01001A_002E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male
2...B01001A_003E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!Under 5 years
3...B01001A_004E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!5 to 9 years
4...B01001A_005E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!10 to 14 years
5...B01001A_006E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!15 to 17 years
6...B01001A_007E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!18 and 19 years
7...B01001A_008E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!20 to 24 years
8...B01001A_009E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!25 to 29 years
9...B01001A_010E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!30 to 34 years
10...B01001A_011E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!35 to 44 years
11...B01001A_012E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!45 to 54 years
12...B01001A_013E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!55 to 64 years
13...B01001A_014E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!65 to 74 years
14...B01001A_015E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!75 to 84 years
15...B01001A_016E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Male!!85 years and over
16...B01001A_017E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female
17...B01001A_018E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!Under 5 years
18...B01001A_019E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!5 to 9 years
19...B01001A_020E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!10 to 14 years
20...B01001A_021E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!15 to 17 years
21...B01001A_022E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!18 and 19 years
22...B01001A_023E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!20 to 24 years
23...B01001A_024E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!25 to 29 years
24...B01001A_025E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!30 to 34 years
25...B01001A_026E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!35 to 44 years
26...B01001A_027E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!45 to 54 years
27...B01001A_028E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!55 to 64 years
28...B01001A_029E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!65 to 74 years
29...B01001A_030E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!75 to 84 years
30...B01001A_031E...SEX BY AGE (WHITE ALONE)...Estimate!!Total!!Female!!85 years and over
31...B01001B_001E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total
32...B01001B_002E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male
33...B01001B_003E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!Under 5 years
34...B01001B_004E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!5 to 9 years
35...B01001B_005E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!10 to 14 years
36...B01001B_006E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!15 to 17 years
37...B01001B_007E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!18 and 19 years
38...B01001B_008E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!20 to 24 years
39...B01001B_009E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!25 to 29 years
40...B01001B_010E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!30 to 34 years
41...B01001B_011E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!35 to 44 years
42...B01001B_012E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!45 to 54 years
43...B01001B_013E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!55 to 64 years
44...B01001B_014E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!65 to 74 years
45...B01001B_015E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!75 to 84 years
46...B01001B_016E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Male!!85 years and over
47...B01001B_017E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female
48...B01001B_018E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!Under 5 years
49...B01001B_019E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!5 to 9 years
50...B01001B_020E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!10 to 14 years
51...B01001B_021E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!15 to 17 years
52...B01001B_022E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!18 and 19 years
53...B01001B_023E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!20 to 24 years
54...B01001B_024E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!25 to 29 years
55...B01001B_025E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!30 to 34 years
56...B01001B_026E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!35 to 44 years
57...B01001B_027E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!45 to 54 years
58...B01001B_028E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!55 to 64 years
59...B01001B_029E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!65 to 74 years
60...B01001B_030E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!75 to 84 years
61...B01001B_031E...SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)...Estimate!!Total!!Female!!85 years and over
62...B01001C_001E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total
63...B01001C_002E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male
64...B01001C_003E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!Under 5 years
65...B01001C_004E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!5 to 9 years
66...B01001C_005E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!10 to 14 years
67...B01001C_006E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!15 to 17 years
68...B01001C_007E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!18 and 19 years
69...B01001C_008E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!20 to 24 years
70...B01001C_009E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!25 to 29 years
71...B01001C_010E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!30 to 34 years
72...B01001C_011E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!35 to 44 years
73...B01001C_012E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!45 to 54 years
74...B01001C_013E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!55 to 64 years
75...B01001C_014E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!65 to 74 years
76...B01001C_015E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!75 to 84 years
77...B01001C_016E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Male!!85 years and over
78...B01001C_017E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female
79...B01001C_018E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!Under 5 years
80...B01001C_019E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!5 to 9 years
81...B01001C_020E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!10 to 14 years
82...B01001C_021E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!15 to 17 years
83...B01001C_022E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!18 and 19 years
84...B01001C_023E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!20 to 24 years
85...B01001C_024E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!25 to 29 years
86...B01001C_025E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!30 to 34 years
87...B01001C_026E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!35 to 44 years
88...B01001C_027E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!45 to 54 years
89...B01001C_028E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!55 to 64 years
90...B01001C_029E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!65 to 74 years
91...B01001C_030E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!75 to 84 years
92...B01001C_031E...SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE)...Estimate!!Total!!Female!!85 years and over
93...B01001D_001E...SEX BY AGE (ASIAN ALONE)...Estimate!!Total
94...B01001D_002E...SEX BY AGE (ASIAN ALONE)...Estimate!!Total!!Male
95...B01001D_003E...SEX BY AGE (ASIAN ALONE)...Estimate!!Total!!Male!!Under 5 years
96...B01001D_004E...SEX BY AGE (ASIAN ALONE)...Estimate!!Total!!Male!!5 to 9 years
97...B01001D_005E...SEX BY AGE (ASIAN ALONE)...Estimate!!Total!!Male!!10 to 14 years
98...B01001D_006E...SEX BY AGE (ASIAN ALONE)...Estimate!!Total!!Male!!15 to 17 years
99...B01001D_007E...SEX BY AGE (ASIAN ALONE)...Estimate!!Total!!Male!!18 and 19 years
100...B01001D_008E...SEX BY AGE (ASIAN ALONE)...Estimate!!Total!!Male!!20 to 24 years

In [21]:
# ('B01003_001E', 'TOTAL POPULATION', 'Estimate!!Total'),
# ('B23025_005E', 'B23025.  Employment Status for the Population 16 Years and Over', 'In labor force:!!Civilian labor force:!!Unemployed'),
# ('B23025_005M', 'B23025.  Employment Status for the Population 16 Years and Over', 'Margin Of Error For!!In labor force:!!Civilian labor force:!!Unemployed'),
# censusdata.printtable(censusdata.censustable('acs1', 2018, 'B23025'))

# censusdata.printtable(censusdata.censustable('acs1', 2018, 'B15003'))
# NY: 36
# Counties: 
    # Kings    = 047
    # Queens   = 081
    # Bronx    = 005
    # Richmond = 085
    # Westchester = 119

In [26]:
ageDF_Brooklyn = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '36'), ('county', '047')]),
                              tableColCodeArray[0:800]
                            )
ageDF_Brooklyn

                                                    B01001A_001E  B01001A_002E  B01001A_003E  B01001A_004E  B01001A_005E  B01001A_006E  B01001A_007E  B01001A_008E  B01001A_009E  B01001A_010E  ...  B06001_033E  B06001_034E  B06001_035E  B06001_036E  B06001_037E  B06001_038E  B06001_039E  B06001_040E  B06001_041E  B06001_042E
Kings County, New York: Summary level: 050, sta...       1130251        554201         44765         35577         33939         17061          9329         32271         55457         55403  ...         5155         7476        20197        18372        85824         2732         9152         7043        11997         9238

[1 rows x 800 columns]

In [46]:
ageDF_Queens = censusdata.download('acs5', 2017,
    censusdata.censusgeo([('state', '36'), ('county', '081'), ('block group', '*')]),
    tableColCodeArray[0:100]
)
ageDF_Queens

                                                   B01001A_001E B01001A_002E B01001A_003E B01001A_004E B01001A_005E B01001A_006E B01001A_007E B01001A_008E B01001A_009E B01001A_010E  ... B01001C_029E B01001C_030E B01001C_031E B01001D_001E B01001D_002E B01001D_003E B01001D_004E B01001D_005E B01001D_006E B01001D_007E
Block Group 3, Census Tract 707, Queens County,...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None
Block Group 1, Census Tract 194, Queens County,...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None
Block Group 4, Census Tract 711, Queens County,...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None
Block Group 2, Census Tract 194, Queens County,...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None
Block Group 1, Census Tract 199, Queens County,...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None
...                                                         ...          ...          ...          ...          ...          ...          ...          ...          ...          ...  ...          ...          ...          ...          ...          ...          ...          ...          ...          ...          ...
Block Group 2, Census Tract 413, Queens County,...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None
Block Group 2, Census Tract 415, Queens County,...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None
Block Group 1, Census Tract 415, Queens County,...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None
Block Group 2, Census Tract 1155, Queens County...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None
Block Group 1, Census Tract 1155, Queens County...         None         None         None         None         None         None         None         None         None         None  ...         None         None         None         None         None         None         None         None         None         None

[1746 rows x 100 columns]

In [17]:
ageDF_Bronx = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '36'), ('county', '005') ]),
                              tableColCodeArray[0:100]
                            )
ageDF_Bronx

                                                    B01001A_001E  B01001A_002E  B01001A_003E  B01001A_004E  B01001A_005E  B01001A_006E  B01001A_007E  B01001A_008E  B01001A_009E  B01001A_010E  ...  B01001C_029E  B01001C_030E  B01001C_031E  B01001D_001E  B01001D_002E  B01001D_003E  B01001D_004E  B01001D_005E  B01001D_006E  B01001D_007E
Bronx County, New York: Summary level: 050, sta...        306423        147103          8308          8209          8170          4760          4266         11198         11731          9919  ...           340           157            34         52388         25076          1451          1318          1755          1022           565

[1 rows x 100 columns]

In [18]:
ageDF_Staten = censusdata.download('acs5', 2018,
                             censusdata.censusgeo([('state', '36'), ('county', '085')]),
                              tableColCodeArray[0:100]
                            )
ageDF_Staten

                                                    B01001A_001E  B01001A_002E  B01001A_003E  B01001A_004E  B01001A_005E  B01001A_006E  B01001A_007E  B01001A_008E  B01001A_009E  B01001A_010E  ...  B01001C_029E  B01001C_030E  B01001C_031E  B01001D_001E  B01001D_002E  B01001D_003E  B01001D_004E  B01001D_005E  B01001D_006E  B01001D_007E
Richmond County, New York: Summary level: 050, ...        352259        171167          9347         10697         10027          6574          3810         10754         12259         10934  ...            47            21             0         41427         20050           957          1240          1230           801           456

[1 rows x 100 columns]